.competence{
  background-color: #ffffff;
  height: 1150px;

  /*  background-image: url(img/buble.svg);
   background-size: cover;
   background-image: url(img/buble.svg);
   background-size: cover; */
  padding-left: 380px;
  padding-top: 220px;
}

