.competence{
  background-color: #ffffff;
  height: 1200px;

  /*  background-image: url(img/buble.svg);
   background-size: cover;
   background-image: url(img/buble.svg);
   background-size: cover; */
  padding-left: 220px;
  padding-top: 220px;
}
