.wave2{
  height: 600px;
  background-image: url(/assets/img/wave2.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.wave3{
  height: 600px;
  background-image: url(/assets/img/wave3.svg);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-position-y: 100%;
}
.projet{
  background: hsla(214, 92%, 47%, 1);
  background: linear-gradient(12deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
  background: -moz-linear-gradient(12deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
  background: -webkit-linear-gradient(12deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0968E5", endColorstr="#091970", GradientType=1 );
  height: 1500px;
  position: relative;
}
