<div class="grid">
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
  <app-cercle image="../assets/img/moi.png"></app-cercle>
</div>
